In [10]:
from bs4 import BeautifulSoup
import pandas as pd
from urllib.request import Request, urlopen
from urllib.error import URLError, HTTPError

url = 'https://wiki.gugacast.com/Nomes_do_Capeta'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/76.0.3809.100 Safari/537.36'}

try:
    req = Request(url, headers = headers)
    response = urlopen(req)
    print('Foi\n\n')
    print(response.getcode())
    html = response.read()
    
except HTTPError as e:
    print('HTTPError\n\n')
    print(response.getcode())
    print(e.status, e.reason)
    
except URLError as e:
    print('URLError\n\n')
    print(response.getcode())
    print(e.reason)

# html = html.decode('utf-8')

def trata_html(input):
    return " ".join(input.split()).replace('> <', '><')

# html = trata_html(html)
soup = BeautifulSoup(html, 'html.parser')

Foi


200

In [12]:
lista_de_nomes = soup.find('div', {'class': 'mw-parser-output'})

# len(lista_de_nomes)

data = [(i+1, item.get_text()) for i, item in enumerate(lista_de_nomes.findAll('li'))]

nomes = pd.DataFrame(data, columns=['', 'Nomes'])
nomes.set_index('', inplace=True)

In [13]:
nomes

                      Nomes

1    25 De Março Na Véspera
2            Abadá Apertado
3               Abadá Justo
4     Abre A Porta De Cueca
5      Acabou O Enroladinho
..                      ...
416               X-Calango
417                  Xixola
418              Zé Canhoto
419             Zé Do Casco
420      Zilda Rouba-Caneta

[420 rows x 1 columns]

In [62]:
print(f'{nomes["Nomes"].sample(1).values[0]}')

Repórter Do Datena